<div>
  <h1>Registration Form </h1>

  {{registrationForm.value | json}}

  <form [formGroup]="registrationForm">

    <div>
      <label>Username</label>
      <input [class.is-invalid]="userName?.invalid && 
                                 userName?.touched " formControlName="userName" type="text" >
      <!-- <small [class.hidden]="userName?.valid ||
                             userName?.untouched " class="text-danger"> Username is required </small> -->
      <div *ngIf="userName?.invalid && userName?.touched">
        <small *ngIf="userName?.errors?.['required']" class="text-danger">Username is required</small>
        <small *ngIf="userName?.errors?.['minlength']" class="text-danger">Username must be at least 3 characters
        </small>
      </div>
    </div>

    <div>
      <label>Password</label>
      <input formControlName="password" type="password" >
    </div>

    <div>
      <label>Confirm Password</label>
      <input formControlName="confirmPassword" type="password" >
    </div>

    <div formGroupName="address">

      <div>
        <label>City</label>
        <input type="text" formControlName="city">
      </div>

      <div>
        <label>State</label>
        <input type="text" formControlName="state">
      </div>

      <div>
        <label>Postal Code</label>
        <input type="text" formControlName="postalCode">
      </div>

    </div>

    <button type="submit">Register</button>
    <button (click)="loadApiData()" type="button">Load API</button>

  </form>

</div>